@import url("https://fonts.googleapis.com/css2?family=Asap&family=Work+Sans:wght@300&display=swap");
.mainScreen {
  padding: 10px;
}

.heading {
  font-size: 60px;
}

.page {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}
